*.js
*.pyc
*.zip
*.rar
*.ipynb
Virus/
NormalProgrammes/
Keyword Concatenation/
Temporary/
venv/
Env/
.idea/
Abnormal String Concatenation/
normal/
NormalTemporary/
Result/
TestSet/
Without Concatenation/
Without Concatenation1/
Abnormal No Detection/
Filtered Normal Programme/
Model Testing/
LexicalProcessingPython3.py
PlotResults.py
svm.py
Model Test Result.png
Testing.py
